@tailwind base;
@tailwind components;
@tailwind utilities;

.border-b-2 {
  border-bottom-width: 1.5px;
}

body {
  color: rgb(49, 52, 58);
  height: 100%;
  background-color: #E5E7EB;
}

h1 {
  font-size: 1.5rem
    /* 24px */
  ;
  line-height: 2rem
    /* 32px */
  ;
  font-weight: 600;
}

h2 {
  font-size: 1.2rem
    /* 24px */
  ;
  line-height: 2rem
    /* 32px */
  ;
  font-weight: 500;
}

.userIcon {
  width: 60px;
}

.maxWidth {
  max-width: 13rem;
}

.bgNav {
  background-color: #0F0F0F;
}

/* Loader normal */
.loader {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #999;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;

}

.loader::after {
  animation-delay: 1s;
}


/* Loader mini */
.loader-mini {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.loader-mini::after,
.loader-mini::before {
  content: '';
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #5e5e5e;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;

}

.loader-mini::after {
  animation-delay: 1s;
}

.imgPortada {
  background-image: url('../src/imgs/portada.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 55%;
}

.closeButton {
  background-image: url('./imgs/close.png');

  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-size: contain;
}

.editIcon {
  background-image: url('./imgs/edit-text.png');
  content: ' ';
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-size: contain;
}

.chat-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.chat-icon {
  width: 38px;
}

/* Estilo de transición en el hover */
.hover\:translate-y-2:hover {
  transform: translateY(-2px);
}

.hover\:shadow-md:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.portada .bg-black {
  opacity: 90%;
}

.dumbbellIcon {
  background-image: url('./imgs/dumbbell.png');
  content: ' ';
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-size: contain;
}

.backgroundDark {
  background-color: #0f0f0fea;
}

.backgroundDark-ligther {
  background-color: #0f0f0fdc;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}